<!-- Sidebar -->
<div class="sidebar">       
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/" class="nav-link {{'active' if pageName=='Home' }}">
            <i class="nav-icon fas fa-columns"></i>
            <p>Stato</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/logs" class="nav-link {{'active' if pageName=='Logs' }}">
            <i class="nav-icon fas fa-align-justify"></i>
            <p>Logs</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/logJobs" class="nav-link {{'active' if pageName=='LogJobs' }}">
            <i class="nav-icon fas fa-edit"></i>
            <p>Jobs</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/modbus" class="nav-link {{'active' if pageName=='Modbus' }}">
            <i class="nav-icon fas fa-terminal"></i>
            <p>Modbus</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/config" class="nav-link {{'active' if pageName=='Configurazione' }}">
            <i class="nav-icon fas fa-cogs"></i>
            <p>Configurazione</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->